<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<!--<link th:href="@{/css/main.css}" rel="stylesheet" />-->
	<title>Liste des Patients</title>
</head>

<body>
	<header>
		<div class="title-header"> Medilabo Solutions</div>
		<div class="nav-bar">
			<a th:href="@{/home}">
				<div class="button-styled button-green">
					Accueil
				</div>
			</a>
			<nav>
				<ul>
					<li><a th:href="@{/home}">Home</a></li>
				</ul>
			</nav>
		</div>
		<ul id="breadcrumb">
			<li class="link-home"> Home / </li>
			<!--<li th:text="${breadcrumbContact}" class="link-active"></li>-->
		</ul>
	</header>
	<div class="container">
		<main class="main--customized ">
			<section class="section-patients " >
			<h1 id="contacts">Page Erreur</h1>
			<p>Page not found</p>
			</section>
		</main>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>