<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<!--<link th:href="@{/css/main.css}" rel="stylesheet" />-->
	<title>Info-Patient</title>
</head>

<body>
	<header class="text-center" >
		<div class="title-header" style="color:red;font-weight:bold; margin-top:5vh;"> Medilabo Solutions</div>
		<div class="nav-bar">
			<nav class="navbar navbar-expand-lg ">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}" >Accueil</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/home/all-patients}">Liste des patients</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/home/report-patient}">Rapport</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<div class="container">
		<main class="main--customized ">
			<section >
			<h1 style="color: red;">Informations patient</h1>
			<table class="table table-striped-columns" aria-describedby="patient">
				<thead>
					<tr>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Date de naissance</th>
						<th>Genre</th>
						<th>Adresse</th>
						<th>Téléphone</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td><span th:text="${patient.prenom}"> Nom </span></td>
						<td><span th:text="${patient.nom}"> Prénom </span></td>
						<td><span th:text="${patient.dateDeNaissance}"> Date de naissance</span></td>
						<td><span th:text="${patient.genre}"> Genre</span></td>
						<td><span th:text="${patient.adresse}"> Adresse </span></td>
					</tr>
				</tbody>
			</table>
			<div class="btn btn-success"><a th:href="@{/home/formPatient}"class="button-form"style="color: white;">Ajouter un compte rendu</a ></div>
			</section>
			<section>
				<h2> Rapport médical du patient</h2>
				<table class="table table-striped-columns" aria-describedby="patients">
				<thead>
					<tr>
						<th>Rendez-vous </th>
						<th>Notes</th>
						<th>Date de naissance</th>
						<th>Genre</th>
						<th>Adresse</th>
						<th>Téléphone</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="medicalReport: ${medicalReports}">
						<td><span th:text="${medicalReport.id}"> Rendez- vous </span></td>
						<td th:if="${medicalReport.note}"><span th:each="lineNote: ${medicalReport.note}" th:text="${lineNote}"> Notes</span></td>
						<!--<td><span th:text="${medicalReport.dateDeNaissance}"> Date de naissance</span></td>
						<td><span th:text="${medicalReport.genre}"> Genre</span></td>
						<td><span th:text="${medicalReport.adresse}"> Adresse </span></td>
						<td><span th:text="${medicalReport.telephone}"> Téléphone</span></td>-->
						<td style="width: 15%" class="text-center">
							<a th:href="@{/home/updateFormPatient/{id}(id=${patient.id})}" style="color: red;">Modifier</a>
						</td>
					</tr>
				</tbody>
			</table>
			</section>
		</main>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>