<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<!--<link th:href="@{/css/main.css}" rel="stylesheet" />-->
	<title> Modification des données du Patient</title>
</head>

<body>
	<header class="text-center" >
		<div class="title-header" style="color:red;font-weight:bold; margin-top:5vh;"> Medilabo Solutions</div>
		<div class="nav-bar">
			<nav class="navbar navbar-expand-lg ">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}" >Accueil</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/home/all-patients}">Liste des patients</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/home/report-patient}">Rapport</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<div class="container">
		<div class="login-error" th:if="${param.error}">
			Invalid infomations
		</div>
		<main>
			<h1 style="color: red;">  Modifier un patient</h1>
			<!--<form th:action="@{/home/patient/updatePatient/{id}(id=${patient.id})}"  method="post"  th:object="${patient}">-->
				<form  th:action="@{/home/updateFormPatient/{id}(id=${patient.id})}" th:object="${patient}" method="post">
				<div class="login-field">
					<div class="login-field--fontawesome">
						<input class="form-control" type="text"  th:field="*{prenom}" name="prenom" required placeholder="Prenom"/>
					</div>
				</div>
				
				<div class="login-field">
					<div class="login-field--fontawesome">
						<input class="form-control" type="text" th:field="*{nom}" name="nom" required placeholder="Nom"/>
					</div>
				</div>
				
				<div class="login-field">
					<div class="login-field--fontawesome">
						<input class="form-control"  type="text"  th:field="*{dateDeNaissance}" name="dateDeNaissance" required  placeholder="Date de naissance"/>
					</div>
				</div>
				
				<div class="login-field">
					<div class="login-field--fontawesome">
						<input class="form-control" type="text" th:field="*{genre}"  name="genre" required placeholder="Genre"/>
					</div>
				</div>
				<div class="login-field">
					<div class="login-field--fontawesome">
						<input class="form-control" type="text" th:field="*{adresse}"  name="adresse" placeholder="Adresse"/>
					</div>
				</div>
				
				<div class="login-field">
					<div class="login-field--fontawesome">
						<input class="form-control"  type="text" th:field="*{telephone}"  name="telephone" placeholder="Telephone"/>
					</div>
				</div>
				
				<div><input class="button-form btn btn-success" type="submit" value="Modifier"/></div>
			</form>
		</main>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>